{% extends "core/core.html" %}
{% load static from static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="hero_area">
      <div class="bg-box">
          <div class="img-responsive"><img src="{% static 'images/ds4a_resume_page.jpg' %}" alt=""></div>
      </div>
      <header class="header_section">
        <div class="container">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="/">
              <span>
                Team 88
              </span>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav  mx-auto ">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'listproduct' %}">Individual</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'listcsv' %}">CSV</a>
                </li>
              </ul>
              <div class="user_option">
                <a href="" class="user_link">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </a>
                <a class="cart_link" href="#">

                </a>
                <form class="form-inline">
                  <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </form>
                <a href="" class="order_online">
                  Order Online
                </a>
              </div>
            </div>
          </nav>
        </div>
      </header>
    </div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Individual</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#plano">Cargue archivo plano</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#voz">Reconocimiento por voz</a>
                    </li>
                </ul>
                <hr>
                <br><br>
                <div class="row g-2">
                    <form method="post"
                          role="form"
                          enctype="multipart/form-data"
                          class="uniForm form-class">{% csrf_token %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li class="text-danger text-right"><small>{{field.label_tag}} - {{ error }}</small></li>
                            {% endfor %}
                        {% endfor %}
                        <div class="row g-3">
                            <div class="form-group col-md-6 mb-0">
                                <div class="form-floating">
                                    {{ form.tip_doc }}
                                    <label class="text-secondary"><small>TIPO DE DOCUMENTO</small></label>
                                </div>
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                <div class="form-floating">
                                    {{ form.identificacion }}
                                    <label class="text-secondary"><small>IDENTIFICACION</small></label>
                                </div>
                            </div>
                            <div class="form-group col-md-3 mb-0">
                                <div class="form-floating">
                                    {{ form.pnombre }}
                                    <label class="text-secondary"><small>PRIMER NOMBRE</small></label>
                                </div>
                            </div>
                            <div class="form-group col-md-3 mb-0">
                                <div class="form-floating">
                                    {{ form.snombre }}
                                    <label class="text-secondary"><small>SEGUNDO NOMBRE</small></label>
                                </div>
                            </div>
                            <div class="form-group col-md-3 mb-0">
                                <div class="form-floating">
                                    {{ form.papellido }}
                                    <label class="text-secondary"><small>PRIMER APELLIDO</small></label>
                                </div>
                            </div>
                            <div class="form-group col-md-3 mb-0">
                                <div class="form-floating">
                                    {{ form.sapellido }}
                                    <label class="text-secondary"><small>SEGUNDO APELLIDO</small></label>
                                </div>
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                <div class="form-floating">
                                    {{ form.fecha_nac }}
                                    <label class="text-secondary"><small>FECHA DE NACIMIENTO</small></label>
                                </div>
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                <div class="form-floating">
                                    {{ form.genero }}
                                    <label class="text-secondary"><small>GENERO</small></label>
                                </div>
                            </div>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary">Procesar</button>
                    </form>
                </div>
                <div id="plano">

                </div>
                <div id="voz">

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}